{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <title>{% block title %} Default Title {% endblock %}</title>

  {% include 'common/links.html' %}

</head>

<body>
  {% include 'common/sidebar.html' %}
  <div class="container">
      {% block content %}{% endblock content %}
  </div>


  {% include 'common/scripts.html' %}

  {% block datatables %}

  {% endblock datatables %}

</body>

</html>
