{% extends 'Calendar/base.html' %}

{% block title %}
Appointment Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'Calendar:calendar' %}"> Calendar </a>
            <a class="btn btn-info right mr-2" href="{% url 'Calendar:event-edit' event.pk %}"> Edit Appointment </a>
        </div>
        
        <div class="clearfix">
            <h3>Service: {{ event.servicename }}</h3>
            <p>From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Appointment Details </h4>
        </div>
        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Client Name</th>
                  <th>Staff Name</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ event.clientname }}</td>
                    <td>{{ event.staffname }}</td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}