@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body {
    font-family: "Poppins", sans-serif;


}

.appointments-table {
    margin-top: 1rem;
}

.appointments-table .col-md-12 {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.col-md-12 a.btn.btn-primary{
    margin-bottom: 1rem;
    background-color: #c2c1c1;
    border: 0.5px solid transparent;
    color: #252525;
}

.toolbar {
    float:left;
}

label.required::after {
    content: ' *';
    color: red;
}

.table-responsive {
    border: 0.5px solid #dddddd;
    padding: 2rem 5rem;
    width: 100%;
    border-radius: 15px;
}


.col-md-12 a.btn.btn-primary:hover {
    background-color: #8956F8;
    color: #fff;
}

h4 {
    margin: 2rem 0;
    font-weight: bold;

}

h2 {
    margin: 2rem 0;
    font-weight: bold;

}

th {
    color: #252525;
    font-weight: semi-bold;
    margin-bottom: 2rem;
}

.title-container {
    margin-top: 1rem;
}

.title-container h1 {
    font-weight: bold;
}


.form-group .submit__btn {
    border-radius: 20px;
	border: 1px solid #252525;
	background-color: #252525;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300px;
	padding: 12px 45px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 10px 0px;
}

.form-group .submit__btn:active {
	transform: scale(0.95);
	background-color: #8956F8;
}

.form-group .submit__btn:focus {
	outline: none;
}


tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: transparent;

}

 td .btn {

    background-color: transparent;
    border: 0.5px solid transparent;
    color: #252525;
    font-size:large;

}

td .btn:hover {
    background-color: transparent;
    border: 0.5px solid transparent;
    color: #8956F8;
}

td {
    margin-right: 5rem;
}

tbody tr td a {
    color: #8956F8;
    text-decoration: none
}

.form-row {
    padding: 10px;
    margin-top: 2rem;


}

.form-col {
    padding: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.card {
    width: 10rem;
    margin-right: 10px;
}

.staff-form button {
    margin-bottom: 10rem;
    margin-top: 2em;
    border-radius: 20px;
	border: 1px solid #252525;
	background-color: #252525;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300px;
	padding: 12px 45px;
	letter-spacing: 3px;
	text-transform: uppercase;

}

.staff-form .submit__btn:active {
	transform: scale(0.95);
	background-color: #8956F8;
}

.staff-form .submit__btn:focus {
	outline: none;
}

.card .btn-primary {
    border-radius: 20px;
	border: 1px solid #252525;
	background-color: #252525;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.card .btn-primary:active {
	transform: scale(0.95);
	background-color: #8956F8;
}

.card .btn-primary:focus {
	outline: none;
}

#service-card {
    width: 50rem;
    margin-bottom: 2rem;
}

#service-card h4 {
    font-weight:600;
    margin-top: 0;
}

#service-card .card-text {
    font-size: 18px;
}
