{% extends 'common/base.html' %}

{% block title %} Service Details {% endblock title %}

{% block content %}
<div class="col-md-12">
  <div class="container">
    <div class="title-container">
      <h1>Service Details</h1>
    </div>
    <!-- <h3>{{ object.servicename }}</h3>
    <p> Service Type: {{ object.servicetype }} </p>
    <p> Price: Php{{ object.serviceprice }} </p>
    <p> Description: {{ object.servicedescription }} </p>
    <p> Duration: {{ object.serviceduration_HHmm }} </p> -->
    <div class="card" id="service-card">
      <div class="card-body">
        <h4 class="card-title">{{ object.servicename }}</h4>
        <p class="card-text">Status: {% if object.is_working == True %}
          <span class="mode mode_on">Active</span>
        {% else %}
          <span class="mode mode_off">Inactive</span>
        {% endif %}</p>
        <p class="card-text">Service Type: <b>{{ object.servicetype }}</b></p>
        <p class="card-text">Price: <b>Php {{ object.serviceprice }}.00</b></p>
        <p class="card-text">Description: {{ object.servicedescription }}</p>
        <p class="card-text">Duration: <b>{{ object.serviceduration_HHmm }}</b></p>
      </div>
    </div>

  {% if 'admin.view_logentry' in user.get_user_permissions %}
  <span><a href="/services/edit/{{object.id}}" class="btn btn-primary">Edit service details</a></span>
  {% else %}
  {% endif %}
  <!-- add a back to service list button -->
  <span><a href="/services/" class="btn btn-primary">Back to service list</a></span><br>
  </div>
</div>
{% endblock content %}
