{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="title-container">
        <h1>Book an appointment</h1>
    </div>
    <form method="POST" id="AdminCreateAppointmentForm" class="post-form" data-staff-url="{% url 'scheduling:ajax_load_staff' %}" novalidate>
        {% csrf_token %}
        <br>

        {% for field in form %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="required">{{ field.label }}</label>
            {{ field|add_class:"form-control input-md" }}
            {% if field.errors %}
                <div class="alert alert-danger form-error">
                {% for error in field.errors %}
                <div style="margin:0;padding:0;"><small>{{ error }}</small></div>
                {% endfor %}
                </div>
            {% endif %}
          </div>
          {% endfor %}

          <div class="form-group row">
            <div class="button-form">
                <input type='submit' value='Save' class = 'submit__btn'/>
                <a href='/appointments/'>
                    <input type="button" value='Back' class="submit__btn"/>
                </a>
            </div>
          </div>
    </form>
</div>

{% endblock content %}

{% block datatables %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_service").change(function () {
      var url = $("#AdminCreateAppointmentForm").attr("data-staff-url");  // get the url of the `load_cities` view
      var serviceId = $(this).val(); // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/ajax/load-cities/)
        data: {
          'service': serviceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_staff").html(data);
        }

    });
  });
  </script>
{% endblock datatables %}
