{% extends 'common/base.html' %}

{% block title %} Booking {% endblock title %}

{% block content %}
<div class="card b-0">
    <h3 class="heading">Booking Details</h3>
    <form method="POST" action="{% url ### %}">{% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="service" value="{{ service }}">
        <input type="hidden" name="stylist" value="{{ stylist }}">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="time" value="{{ time }}">
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="name" value="{{ name }}">
      <div class="form-card">
          <p><b>Order ID :</b>&nbsp;&nbsp;{{order_id}}</p>
          <p><b>Name :</b>&nbsp;&nbsp;{{name}}</p>
          <p><b>Email :</b>&nbsp;&nbsp;{{email}}</p>
          <p><b>Service :</b>&nbsp;&nbsp;{{service}}</p>
          <p><b>Stylist :</b>&nbsp;&nbsp;{{stylist}}</p>
          <p><b>Date :</b>&nbsp;&nbsp;{{date}}</p>
          <p><b>Time :</b>&nbsp;&nbsp;{{time}}</p>
          <p><b>Amount :</b>&nbsp;&nbsp;{{amount}} $</p>
          <div align="center" class="check"> <img  style="width:100px;height:100px;" class="fit-image check-img" src="{% static 'img/success.gif'%}"> </div>
      </div>
    </form>
</div>
{% endblock %}
