{% extends 'common/base.html' %}

{% block content %}
<div class="card b-0">
    <h3 class="heading">Booking Details</h3>
      <div class="form-card">
          <p><b>Name :</b>&nbsp;&nbsp;{{ object.customer.user.first_name|add:' '|add:object.user.last_name }}</p>
          <p><b>Email :</b>&nbsp;&nbsp;{{ object.customer.user.email }}</p>
          <p><b>Service :</b>&nbsp;&nbsp;{{ object.service.servicename }}</p>
          <p><b>Stylist :</b>&nbsp;&nbsp;{{ object.staff.user.first_name|add:' '|add:object.staff.user.last_name }}</p>
          <p><b>Date :</b>&nbsp;&nbsp;{{ object.appdatetime }}</p>
          <p><b>Amount :</b>&nbsp;&nbsp;{{object.service.serviceprice }} </p>
          <span><a href="/appointments/" class="btn btn-primary">Back to Appointment list</a></span><br>
      </div>
</div>
{% endblock %}
