{% extends 'common/base.html' %}

{% block content %}

<div class="container">
    <div class="title-container">
        <h1>Book an appointment</h1>
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <br>

        <!-- APPDATETIME -->
        {% for field in form_class %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="required">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
                <div class="alert alert-danger form-error">
                {% for error in field.errors %}
                <div style="margin:0;padding:0;"><small>{{ error }}</small></div>
                {% endfor %}
                </div>
            {% endif %}
        <div class="form-group row">
          <div class="col">
            <label for="id_appdatetime" class="form-label required" >Appointment Date Time:</label>
            <input type="datetime-local" name="appdatetime" id="id_appdatetime" class="form-control input-md">
          </div>
        </div>

        <!-- SERVICES Select Multiple -->
        <div class="form-group row">
          <div class="col">
            <label class="form-label required">Choose service:</label>
            {{ form.service | add_class:"form-control input-md" }}
          </div>
          <div class="col">
            <label class="form-label required">Choose staff:</label>
            {{ form.staff }}
          </div>
        </div>

          <!-- BUTTONS -->
          <div class="form-group row">
            <div class="button-form">
                <input type='submit' value='Save' class = 'submit__btn'onclick="alert('{{ Appointment created successfully.');"/>
                <a href='/appointments/'>
                    <input type="button" value='Back' class="submit__btn"/>
                </a>
            </div>
          </div>

    </form>
</div>

{% endblock content %}
