{% extends 'common/base.html' %}

{% block title %} Staff details {% endblock title %}

{% block content %}
<div class="container">
    <div class="title-container">
        <h1> Update staff information </h1>
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <br>
      <div class="form-group row">
        <div class="col">
          <!-- name -->
            <label class="form-label" for="staffname">Name:</label>
            <input id="staffname" name="staffname" type="text" class="form-control input-md" value="{{ object.user.first_name|add:' '|add:object.user.last_name }}" readonly>
          </div>

          <!-- username -->
          <div class="col">
            <label class="form-label" for="staffusername">Username: </label>
            <input id="username" name="username" type="text" max_digits=11 class="form-control input-md" value="{{ object.user.username }}" readonly>
          </div>
        </div>

        <!-- about -->
        <div class="form-group row">
          <div class=col>
          <label class="form-label" for="textarea">About the Staff:</label>
          <textarea class="form-control" id="textarea" name="about" value="{{ object.about }}" placeholder="Enter description"></textarea>
          </div>
        </div>

        <!-- number, email -->
        <div class="form-group row">
          <div class="col">
          <label class="form-label" for="staffnumber">Phone Number: </label>
          <input id="staffnumber" name="phone_number" type="number" max_digits=11 placeholder="09xxxxxxxxx" class="form-control input-md" value="{{ object.phone_number }}" required>
          </div>
          <div class="col">
          <label class="form-label" for="staffemail">Email: </label>
          <input id="staffnumber" name="email" type="text" class="form-control input-md" value="{{ object.user.email }}" readonly>
          </div>
        </div>

          <!-- SERVICES Select Multiple -->
          <div class="form-group row">
            <div class="col">
            <label class="form-label" for="staffservice">Services:</label>
              {{ form.services }}
            </div>
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton">
                Select Service/s
              </button>
              <div class="dropdown-menu" aria-labelledBy="dropdownMenuButton">
                {{ form.services }}
              </div>  -->
            </div>

          <!-- Multiple Checkboxes (inline) -->
          <div class="form-group row">
            <div class="col">
              <label class="btn btn-success" for="btn-success">{{ form.is_active }} TICK CHECKBOX IF STAFF IS CURRENTLY WORKING/ACTIVE</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="button-form">
                <input type='submit' value='Save' class = 'submit__btn'/>
                <a href='/staff/'>
                    <input type="button" value='Back' class="submit__btn"/>
                </a>
            </div>
          </div>
    </form>
</div>
{% endblock content %}
