{% extends 'base.html' %}

{% block title %} Employees {% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.14/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.14/js/jquery.dataTables.min.js"></script>
<script src="js/main.js"></script>

<!-- <script>
    $(document).ready( function () {
        $('#filtertable').DataTable();
    } );
</script> -->
    <div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="col-sm-4 createSegment">
                         <a href = "/staff/signup/" class="btn dim_button create_new"> <span class="glyphicon glyphicon-plus"></span> Create New</a>
                        </div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                <label for="email">Search:</label>
                                <input type="search" class="form-control" id="filterbox" placeholder=" ">
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
                                    <th style="min-width:50px;">ID</th>
                                    <th style="min-width:50px;">Username</th>
                                    <th style="min-width:150px;">Name</th>
                                    <th style="min-width:150px;">Phone Number</th>
                                    <th style="min-width:100px;">Services</th>
                                    <th style="min-width:150px;">Status</th>
                                    <th style="min-width:100px;">Actions</th>
                                    <!-- <th style="min-width:150px;">Action</th> hm it's nice to add number of appointments a staff has -->
                                </tr>
                            </thead>
                            <tbody>
                              {% for staff in object_list %}
                                <tr>
                                    <td>{{ staff.id }}</td>
                                    <td>{{ staff.user.username }}</td>
                                    <td>{{ staff.user.first_name|add:' '|add:staff.user.last_name }}</td>
                                    <td>{{ staff.phone_number }}</td>
                                    <td>
                                      {% for service in staff.services.all %}
                                          <p class='m-0 p-0'>{{ service }}</p>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {% if staff.is_active == True %}
                                        <span class="mode mode_on">Active</span>
                                      {% else %}
                                        <span class="mode mode_off">Inactive</span>
                                    </td>   {% endif %}
                                    <td>
                                        <a href="edit/{{ staff.id }}" data-target="#edit">
                                          <i class="fa fa-edit"></i>  </a> <!-- will change this to edit link -->

                                        <!-- <a href="#" target="_black">  will change this to delete link -->
                                            <!-- <i class="fa fa-trash"></i> -->
                                            <!-- staff can't be deleted only deactivated? -->
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

