{% extends 'common/base.html' %}

{% block title %} Employees {% endblock title %}

{% block content %}


    <div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="row d-flex">
                        <div class="col-sm-4 createSegment">
                         <a href = "/staff/signup/" class="btn dim_button create_new"> <span class="glyphicon glyphicon-plus"></span> Create New</a>
                        </div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                <label for="email">Search:</label>
                                <input type="search" class="form-control" id="filterbox" placeholder=" ">
                            </div>
                        </div>
                    </div>
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
                                    <th style="min-width:50px;">ID</th>
                                    <th style="min-width:50px;">Username</th>
                                    <th style="min-width:150px;">Name</th>
                                    <th style="min-width:150px;">Phone Number</th>
                                    <th style="min-width:100px;">Services</th>
                                    <th style="min-width:150px;">Status</th>
                                    <th style="min-width:100px;">Action</th>
                                    <!-- <th style="min-width:150px;">Action</th> hm it's nice to add number of appointments a staff has -->
                                </tr>
                            </thead>
                            <tbody>
                              {% for staff in object_list %}
                                <tr>
                                    <td>{{ staff.id }}</td>
                                    <td>{{ staff.user.username }}</td>
                                    <td>{{ staff.user.first_name|add:' '|add:staff.user.last_name }}</td>
                                    <td>{{ staff.phone_number }}</td>
                                    <td>
                                      {% for service in staff.services.all %}
                                          <p class='m-0 p-0'>{{ service }}</p>
                                      {% endfor %}
                                    </td>
                                    <td>
                                      {% if staff.is_active == True %}
                                        <span class="mode mode_on">Active</span>
                                      {% else %}
                                        <span class="mode mode_off">Inactive</span>
                                    </td>   {% endif %}
                                    <td>
                                        <a href="edit/{{ staff.id }}" data-target="#edit">
                                          <i class="fa fa-edit"></i> Edit </a> <!-- will change this to edit link -->

                                        <!-- <a href="#" target="_black">
                                            <i class="fa fa-trash"></i> Delete
                                        </a> -->
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
