{% load static %}
<div class="body-pd" id = "body-pd">
    <header class="header" id="header">
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

        <div class="header__img">
            <img src="" alt="">
        </div>

        <div class="main-content">


            <!-- <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="search here" />
            </div> -->

            <div class="user-wrapper">
                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="search here" />
                </div>
                <div class="my-btn">
                    <a href="#"><i class="fas fa-bell btn-bell"></i></a>
                  </div>
            </div>
                <!-- <img src="img/2.jpg" width="40px" height="40px" alt="">
                <div class = "text-wrapper">
                    <h4>John Doe</h4>
                    <small>Super admin</small>
                </div> -->


            </div>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav__logo">
                    <i class='bx bx-layer nav__logo-icon'></i>
                    <span class="nav__logo-name">BeautyWand</span>
                </a>

                <div class="nav__list">
                    <a href="/appointments/" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">Clients</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-message-square-detail nav__icon'></i>
                        <span class="nav__name">Inbox</span>
                    </a>

                    <a href="/services/" class="nav__link active">
                        <i class='bx bx-food-menu nav__icon'></i>
                        <span class="nav__name">Services</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-time-five nav__icon'></i>
                        <span class="nav__name">Operating Hours</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
                        <span class="nav__name">Sales</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>


</div>
<!-- <h1>Components</h1> -->
