{% load static %}

    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/" class="nav__logo">
                    <i class='bx bxs-magic-wand nav__logo-icon'></i>
                    <span class="nav__logo-name">BeautyWand<br>
                    Salon</span>
                </a>
                <span class="nav__link">
                      <i class='bx bx-user-circle nav__icon'></i>
                      <span class="nav__profile-name">{{user.username}}</span></span>
                <div class="nav__list">
                    <a href="/appointments/calendar/" class="nav__link">
                        <i class='bx bx-grid-alt nav__icon'></i>
                        <span class="nav__name">Calendar</span>
                    </a>

                    <a href="/appointments/" class="nav__link">
                        <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
                        <span class="nav__name">Appointments</span>

                    </a>

                    <a href="/staff/" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>
                        <span class="nav__name">Staff</span>
                    </a>

                    <a href="/services/" class="nav__link">
                        <i class='bx bx-food-menu nav__icon'></i>
                        <span class="nav__name">Services</span>
                    </a>

                    <!-- <a href="#" class="nav__link">
                        <i class='bx bx-time-five nav__icon'></i>
                        <span class="nav__name">Operating Hours</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
                        <span class="nav__name">Sales</span>
                    </a> -->
                </div>
            </div>

                <a href="{% url 'logout' %}" class="nav__link">
                    <i class='bx bx-log-out nav__icon'></i>
                    <span class="nav__name">Log Out</span>
                </a>
        </nav>
    </div>


</div>
<!-- <h1>Components</h1> -->
